
.header{
    max-width: 100%;
    margin: 0 auto;
    clear: both;
    left:0;
    right: 0;
    overflow: hidden;
    background-color: #160e0b; 
    z-index: 990;
    max-height: 91vh;
}

@media (max-width:420px) {
    .mobile{
        min-width: 100%;
    }
}

.img-margin{
    margin: 0;
    padding: 0;
    max-height: 91vh;
}


.img-margin-1{
    position: relative;
    margin: 0;
    padding: 0;
    background: url('../../assets/img/2.png') no-repeat right fixed;
    height: 90vh;
background-color: #160e0b;
background-size:33% auto;;
}

.margin{
    z-index: 999;
    height: 100vh;
}