<nav class="navbar fixed-top navbar-light navbar-toggleable-md bg-faded nav-mod">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img class="d-block img-fluid" src="assets/img/logo-menu.png" alt=""></a>
  <div class="collapse navbar-collapse mod-nav" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Գլխավոր <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#models">Մասնակիցներ</a>
      <a class="nav-item nav-link" href="#info">Ինֆո</a>
      <a class="nav-item nav-link" href="#contacts">Կապ</a>
    </div>
  </div>
</nav>