<div class="fon-info" id="info">
  <div class="black">
    <div class="col-lg-3 logo-center">
      <a href="https://www.facebook.com/ArmMod-Fashion-375056469179849/"><img class="img-fluid" src="assets/img/logo-content.png" alt="ArmMod Fashion"></a>
      <hr>
    </div>
    <div class="container">
      <p>Հուլիսի 29–ին ժամը 19:00–ին առաջին անգամ Գյումրիում տեղի կունենա ArmMod Fashion նախագծի հերթական աննախադեպ մեծամասշտաբ
        Fashion Show –ն` "Together" անվանումով: Ներկայացվելու են ինչպես Գյումրիի, այնպես էլ Երևանի հայ երիտասարդ մոդելավորղների
        հագուստները` Հայաստանի լավագույն մոդելների մասնակցությամբ: Միշտ փորձելով նպաստել հայկականի տարածմանը, այս անգամ նախագիծը
        փորձում է նպաստել նաև ներքին տուրիզմի զարգացմանը` միանալով "ԱՐԻ ԳՅՈՒՄՐԻ" կարգախոսին : Սա նաև հրաշալի առիթ է Գյուրիի
        երիտասարդությանը ևս մասնակից դարձնելու նորաձևության տոնին: Հյուրերի համար էլ սա իանալի առիթ է այցելել Գյումրին ,
        մասնակցել Գյումրի քաղաքային տուրին և երեկոյան ներկա գտնվել շքեղ ցուցադրությանը : Ուշադրություն հետաքրքրվողների համար
        կա երկու տարբերակ մասնակցելու`<br><br> 1. Transport (Yerevan-Gyumri-Yerevan) + Gyumri City Tour + Fashion Show invitation
        - 6000 դրամ<br> 2. Միայն Fashion Show-ի տոմս - 3000 դրամ<br></p>
      <p style="color: white">Նախապես ամրագրելու համար և լրացուցիչ տեղեկությունների համար զանգահարել` 094 21 61 34, 095 21 61 35</p>
      <p>Տուրին մասնակցելու համար զանգահարել` (055) 70-75-80 (094) 68-11-69</p>
    </div>
  </div>
</div>

<div class="support">
  <div class="container">
    <h1 class="by text-center">Supported By</h1>
    <div class="row sup">
      <div class="af-logo col">
        <a href="https://www.facebook.com/ArmFashion/"><img class="img-fluid" src="assets/img/af-logo.png" alt="ArmFashion"></a>
      </div>
      <div class="ng col text-center">
        <h6>Made By</h6>
        <h1><a href="https://www.facebook.com/ArmFashion.Creator">N.G</a></h1>
      </div>
    </div>
  </div>
</div>

 <div class="footer text-center" id="contacts">
    <h6> © 2017 ArmFashion, ArmMod Fashion. All rights reserved.</h6>
    <p>tel.  094 21 61 34, 095 21 61 35</p>
</div>